.myself{

border: 2px; 
align-items: center; 
background-color: beige; 
height: 650px; 
width:800px;

}
.one{
    align-items: center;
    border: 2px;  
    width: 730px; 
    height:600px; 
    background-color: white;
    
}
h4{
    color: blue;
}